<div class ="clearfix">
  <form class="navbar-form pull-left" role="search">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
  </form>
</div>
<%= render partial: "companies/company", collection: @company %>